{% extends 'arquivos_html/base.html' %}

{% load crispy_forms_tags %}

{% block container %}

<form method="post">

    {% csrf_token %}

    {{ formset.management_form }}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço do Item</th>
                <th>Quantidade</th>
            </tr>
        </thead>

        <tbody>

            {% for form in formset %}

            <tr>
                <td>{{ form.instance.produto.pk }}</td>
                <td>{{ form.instance.produto }}</td>
                <td>R$ {{ form.instance.preco | floatformat:"2" }}</td>

                <td>{{ form.quantidade }} </td>

                <td>{{ form.DELETE }}</td>

            </tr>

            {% endfor %}

        </tbody>
    </table>

    <div class="row">

        <div class="col s12">

            <div class="center">
                <div><a href="{% url 'index' %}" class="btn pink" style="margin-top: 5px;"><strong>Continuar Comprando</strong></a></div>
                <div><a><button class="btn pink" style="margin-top: 5px;"><strong>Finalizar Compra</strong></button></a></div>
                <div class="rigth"><button class="btn pink" style="margin-top: 5px;" type="submit"><strong>Atualizar</strong></button></div>
            </div>
        </div>
    </div>

</form>

{% endblock %}