
{% extends 'arquivos_html/base.html' %}

{% load core_extras %}

{% block container %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Produtos</th>
            <th>Situação</th>
            <th>Data</th>
        </tr>

        <tbody>

            {% for pedido in object_list %} <!-- vem uma lista com todos os carrinhos do usuário -->

            <tr>
                <td>
                    <a href="{% url 'detalhe-pedido' pedido.pk %}">#{{ pedido.pk }}</a>
                </td>

                <td>
                
                    {% for produto in pedido.produtos %} <!-- vem pega os carrinhos no laço e lista seus produtos -->
                    <a href="{% url 'detalhe-pedido' pedido.pk %}">{{ produto.nome }}</a> {% if not forloop.last %} <br>{% endif %}
                    {% endfor %}
                
                </td>

                <td>
                    {{ pedido.get_status_display }} <!-- mostra o valor do choice que está no banco -->
                </td>

                <td>
                    {{ pedido.criado | date:"d/m/Y" }}
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </thead>
</table>

{% paginacao %}

{% endblock %}

