{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    {% block title %}
    <title>Django ecommerce</title>
    {% endblock %}
</head>

<body>
    <!--Inicio navbar-->
    {% block header %}
    <section>
        <header>

            <!-- OPÇÕES DA USUÁRIO -->

            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{% url 'editar-dados-usuario' %}">Alterar Dados</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'alterar-senha' %}">Alterar Senha </a></li>
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>

            </ul>

            <ul id="categorias" class="dropdown-content">

                <!-- laço de repetição das categorias  -->

                {% for categoria in categorias %}
                <li><a href="{% url 'lista-produto-categoria' categoria.slug %}">{{ categoria.nome|capfirst }}</a></li>
                <li class="divider"></li>
                {% endfor %}
            </ul>

            <ul id="dropdown-mobile-categoria" class="dropdown-content">
                {% for categoria in categorias %}
                <li><a href="{% url 'lista-produto-categoria' categoria.slug %}">{{ categoria.nome|capfirst }}</a></li>
                <li class="divider"></li>
                {% endfor %}

            </ul>

            <div class="navbar-fixed">
                <nav class="black">
                    <div class="nav-wrapper container">
                        <a href="{% url 'index' %}"><img class="rigth brand-logo" src="{% static 'img/ecommerce.png' %}"
                                alt="logo" height="70"></a>

                        <!-- BOTÃO MENU MOBILE -->
                        <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>

                        <ul class="right hide-on-med-and-down">

                            <li><a href="{% url 'index' %}" class="pink-text"><b>INICIO</b></a></li>

                            <li><a href="{% url 'contato' %}" class="pink-text"><b>CONTATO</b></a></li>

                            <li><a href="#" class="black-text dropdown-trigger btn pink" data-target='categorias'><i
                                        class="material-icons left">list</i>CATEGORIAS <i
                                        class="material-icons left">expand_more</i></a>
                            </li>

                            <li><a href="#" class="black-text dropdown-trigger btn pink" data-target='dropdown1'><i
                                        class="material-icons left">face</i>MINHA CONTA <i
                                        class="material-icons left">expand_more</i></a>
                            </li>

                        </ul>

                    </div>

                    <div class="nav-content container">

                        <div class="nav-content">
                            <span class="nav-title"></span>
                        </div>
                </nav>

            </div>

            <!--NAVBAR DE MENU LATERAL -->
            <ul id="menu-mobile" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="{% static 'img/fundo_conta.jpeg' %}">
                        </div>
                        <a href="#user"><img class="circle" src="{% static 'img/avatar_femenino.png' %}"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="{% url 'editar-dados-usuario' %}"><i class="material-icons">description</i>Alterar
                        Dados</a></li>
                <li><a href="{% url 'alterar-senha' %}"><i class="material-icons">password</i>Alterar Senha</a></li>
                <li><a href="{% url 'resetar-senha' %}"><i class="material-icons">lock</i>Esqueci Minha Senha</a></li>
                <li><a href="{% url 'login' %}"><i class="material-icons">login</i>Entrar</a></li>
                <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i>Sair</a></li>

                <li><a href="{% url 'carrinho' %}"><i class="material-icons">shopping_cart</i>Meu Carrinho</a></li>

                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>


        </header>
    </section>
    {% endblock %}

    <section>
        <main class="container">

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block container %}

            {% endblock %}
        </main>
    </section>

    {% block footer %}
    <section>
        <footer class="page-footer black">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div><a href="#!"><img class="brand-logo z-depth-5" src="{% static 'img/ecommerce.png' %}"
                                    alt="logo" height="60"></a></div>
                        <div>
                            <p class="lighten-1" id="texto_rodape">Criamos este plano para incentivar empreendedores a
                                alavancar seus
                                negócios na internet, podendo expor sua marca, produtos e serviços de maneira
                                profissional,
                                com toda tecnologia necessária e baixo custo.
                                Nosso objetivo não é apenas criar o seu site, mais sim também dar o apoio e levar a
                                sua empresa ou negócio exponecialmente para o próximo nível através da tecnologia. Venha
                                ver o que nós temos para
                                você !</p>
                        </div>
                    </div>
                </div>
                <div class="divider white"></div>

                <div class="row">
                    <div class="col s6">
                        <h6 class="white-text"><strong>CONTATOS</strong></h6>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">teste@gmail.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">+55 093 xxxxx-xxxx</a></li>
                        </ul>
                    </div>

                    <div class="col s6">
                        <h6 class="white-text"><strong>SIGA-NOS NAS REDES SOCIAIS</strong></h6>

                        <div class="row">
                            <div class="col s4">
                                <img src="{% static 'img/facebook_.png' %}" alt="50px" width="50px">
                            </div>

                            <div class="col s4">
                                <img src="{% static 'img/instagram_.png' %}" alt="50px" width="50px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider white"></div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="center">
                        © 2021 - Todos os direitos reservados.
                    </div>
                </div>
            </div>
        </footer>
    </section>
    {% endblock %}

</body>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</html>