{% extends 'arquivos_html/base.html' %}
{% load static %}

{% load core_extras %}

{% block container %}
<h4 class="title center">Veja nossos produtos</h4>


<div class="row">
    {% for produto in produtos %}
    <div class="col s12 m6 l3">
        <a href="{% url 'produto' produto.slug %}">
            <div class="card z-depth-5">
                <div class="card-image">
                    <img src="{% static 'img/produtos/html.jpg' %}">
                    <span class="card-title">{{ produto.nome }}</span>
                </div>
                <div class="card-content">
                    <p class="truncate">{{ produto.descricao }}</p>
                </div>
                <div class="card-action center">
                    <ul class="left">
                        <li><a href="#"><button type="" class="btn">Butão</button></a></li>
                    </ul>
                    <ul class="rigth">
                        <li><a href="#"><button type="" class="btn">Butão</button></a></li>
                    </ul>
                </div>
            </div>
        </a>

    </div>
    {% endfor %}
</div>

{% paginacao %}

{% endblock %}