{% extends 'arquivos_html/base.html' %}

{% load static %}

{% block title %}
<title>{{produto.nome}}</title>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col s12 m6 l6">
        <h4>{{produto.nome}}</h4>
        <a href="#">
            <div class="card z-depth-5">
                <div class="card-image">
                    <img src="{% static 'img/produtos/html.jpg' %}">
                    <span class="card-title">{{ produto.nome }}</span>
                </div>

                <div class="card-action center">
                    <ul>
                        <li><a href="{% url 'adicionar-item-carrinho' produto.slug %}"><button type="" class="btn pink"><strong>Adicionar ao Carrinho</strong></button></a></li>
                    </ul>
                </div>
            </div>
        </a>

    </div>

    <div class="col s12 m6 l6">
        <h5 style="text-align: justify;">{{produto.descricao}}</h5>
    </div>

</div>


{% endblock %}